<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Mittari{% endblock %} - Lajitietokeskuksen testisivusto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <header class="site-header">
      <a class="site-logo" href="{{ url_for('main.index') }}">Mittari - Kokeilukäytössä olevia tilastointeja</a>
    </header>
    <main class="site-main">{% block content %}{% endblock %}</main>
  </body>
</html>
