{% extends "base.html" %}
{% block title %}Tilastoja havainnoista — Mittari{% endblock %}
{% block content %}
  <h1>Tilastoja havainnoista</h1>
  <p>
    Tilastoja Suomen luontohavainnoista. Tällä sivustolla kokeillaan uusia tilastoja ja visualisointeja. Näytettävät tiedot ovat aitoa julkista <a href="https://laji.fi/">Lajitietokeskuksen havaintotietoa</a>, mutta sivuston kokeiluluonteesta johtuen ne voivat sisältää virheitä.
  </p>
  <p>
    <a href="{{ url_for('stats.observers_taxa_page', taxon_id='MX.37600') }}">Havainnoijien lajimäärät</a>
  </p>
{% endblock %}
